[2016-08-25 07:01] molovo opened #1 "Session dies after running `zulu upgrade`"
Running the `zulu upgrade` command kills the current session, although the command completes successfully

[2016-08-25 07:03] molovo opened #2 "Completing installed packages is faulty"
Completion for `zulu uninstall`, `zulu upgrade`, `zulu link` and `zulu unlink` all have an issue where the description and the package name are merged strangely

[2016-08-25 13:52] #2 closed, assigned to molovo

[2016-08-25 22:37] #1 closed, assigned to molovo

[2016-09-08 18:52] molovo opened #11 "Replace realpath with readlink"
`realpath` isn't avaliable on all systems, so we should replace it with `readlink`. Need to be careful, as `readlink` returns false for directories, so need to find something supportable to use in the `zulu link` function.

[2016-09-08 18:58] molovo opened #12 "Deprecate `zulu install` without arguments"
`zulu install` without arguments currently installs the contents of the package file. It throws errors for packages which are already installed, which we should keep when the name of an installed package is passed via the CLI.

Proposing a `zulu bundle` command a la @homebrew for dealing with installing packages from the package file, so that this and other configuration can still be synced.

Usag

[2016-09-08 19:00] molovo opened #13 "Support ZSH 5.0.7+"
Zulu currently breaks (on install and usage) in 5.0.7 which is the default for most Mac and Linux installations. Currently only 5.1+ is supported, but we should aim to change this

[2016-09-08 19:46] molovo opened #14 "Support post-install scripts for packages"
[ZUnit](https://github.com/molovo/zunit) has a `make` step as part of it's install process. Would be handy for this and other packages to support simple post-install scripts within the index file

[2016-09-10 19:56] molovo commented on #13
Commit 24c517a fixes the syntax issues which were breaking compatibility. There don't appear to be any issues with functionality in the older versions now that these have been resolved.

Zulu will support ZSH 5.0.2+ as of version 0.4.0

[2016-09-10 20:22] #11 closed, assigned to molovo

[2016-09-10 20:22] #14 closed, assigned to molovo

[2016-09-10 20:28] #12 closed, assigned to molovo

[2016-09-10 20:28] #13 closed, assigned to molovo

[2016-10-13 18:46] molovo opened #17 "Dependencies are not installed correctly"
At some point they stopped being installed when the parent package is installed. Need to fix this.

[2016-10-13 18:47] molovo opened #18 "Remove post-install script functionality"
Could be dangerous if a package maintainer decides to take advantage of it. Bearing in mind there aren't any packages that actually require this yet, it can be removed

[2016-10-13 19:38] molovo opened #20 "Improve performance of upgrade command"
Currently the `upgrade` command is very slow, as it has to perform a fetch on each package repository before it can check for changes.

One possibility might be asynchronously fetching from each of the repositories on init, and keeping a log of the last fetch timestamp for each of them, then only performing the fetch again if the fetch is older than x amount of time (probably an hour should be eno

[2016-11-11 16:35] #17 closed, assigned to molovo

[2016-12-21 20:36] #18 closed, assigned to nobody

[2016-12-21 20:36] #20 closed, assigned to molovo

[2016-12-22 18:37] molovo opened #25 "Revolver process gets orphaned if package is uninstalled"
Uninstalling the revolver package causes the revolver process to be orphaned, leaving the spinner running infinitely.

Can be resolved by checking for the PID file at `~/.revolver/$PID` within the polyfill function and removing it if the file exists but revolver is not installed.

[2016-12-22 18:39] molovo opened #26 "Revolver polyfill leaves unnecessary notices in output"
The polyfill currently prints out the message that would be displayed next to the spinner if revolver were installed, but these are then left in the output. Would be cleaner to just use an empty function instead of printing the message so that only success/error messages are left in the output.

[2016-12-23 08:30] #25 closed, assigned to molovo

[2016-12-23 08:30] #26 closed, assigned to molovo

[2016-12-29 15:24] rolling-space opened #28 "Package Index types"
Hi there, wishes for happy holidays!

I have noticed that the [completions](https://github.com/zulu-zsh/index/blob/master/packages/completions) index references a 'completion' type.

Is this functionality of a private nature and thus didn't make it to the [index docs](https://github.com/zulu-zsh/index)?

[2016-12-29 15:31] molovo commented on #28
It doesn't contribute any functionality at the moment. The only real functionality I had planned was to automatically enable themes after install, but other than that there's no real relevance at the moment. The key isn't required in the JSON for the package to be installable, and if that changes it's fairly trivial to update the entries for any packages that are missing types.

[2017-01-10 21:21] petrosp commented on #28
Ok, that has been cleared, closing. Thanks!

[2017-01-10 21:23] #28 closed, assigned to nobody

[2017-01-10 21:39] rolling-space opened #29 "zsh-syntax-highlighting and zsh-history-substring-search"
Hi,

I was wondering whether the `_zulu_init_setup_history` function in the `init` command is respecting the order that `zsh-history-substring-search` is sourced, in case the `zsh-syntax-highlighting` package is also installed.

I came down to this sort of investigation after struggling with the `zsh-history-substring-search` itself: To my understanding, if you have installed it, it will be loaded

[2017-01-11 00:34] molovo commented on #29
I don't use the `zsh-history-substring-search` plugin, so hadn't noticed an issue. I expect it can be solved by shuffling the order of the initialisation script. I'll have a play and see if I can recreate it.

And thanks, glad to know you're getting some use of it.

[2017-01-11 01:40] rolling-space commented on #29
Indeed, I reshuffled the init order and placed ` _zulu_init_setup_history` after `_zulu_load_packages` to ensure that the widget is sourced and thus found:
[code]
Now `syntax-highlighting` works, but `substring-search` partially as it does not respect the `HISTORY_SUBSTRING_SEARCH_HIGHLIGHT_FOUND` setting in the [init](https://github.com/zulu-zsh/zulu/blob/master/commands/init#L191) command.

Seem

[2017-01-11 08:42] molovo commented on #29
I tried making the change you mention above, but unfortunately it hasn't had the desired effect for me; I can't get any of the keybindings that are setup on init to fire the widget, but the `history-substring-search-{up,down}` methods are both loaded into the environment - the same behaviour I had before the change.

I've not tried zim, but the majority of the `_zulu_init_setup_history` function w

[2017-01-11 08:49] molovo commented on #29
Think I've found the issue - the widgets need to be registered with ZLE before the keybindings are registered. The highlighting works for me as well.

Can be fixed by adding these lines immediately after line 185 of `~/.zulu/core/commands/init`:

[code]

Does that fix the issue for you?

[2017-01-11 21:26] rolling-space commented on #29
This doesn't work for me :(

However, if you register them just before line 178 it does. :)

Nevertheless even in that case, the colors for `substring-search` are not displaying. Evidently, `substring-search` needs to be loaded last.

I managed to have that resolved, by splitting `_zulu_init_setup_history` function into two functions and adding the last after the package loading. I sent a PR -- ev

[2017-01-11 21:28] rolling-space commented on #29
I am actually wondering at `init#L184`:
[code]
The above does not actually sourcing the file, just checks existence and exits if false.

Is this the real intention?

[2017-01-11 21:29] molovo commented on #29
It is the intention, yes. The reason for that, is purely to check for the existence of the plugin. If the package is installed with zulu, it will be already have been sourced during the `_zulu_load_packages` step.

[2017-01-11 21:30] molovo commented on #29
What OS/ZSH version are you using? The colours are appearing correctly on my machine (Mac OS 10.12, ZSH 5.3)

[2017-01-11 21:31] rolling-space commented on #29
[code]
macOS 10.11.6

[2017-01-11 21:34] rolling-space commented on #29
Well, I am not really taking out the possibility my packages to have messed up the colors. I have published them all at [https://github.com/rolling-space](https://github.com/rolling-space).

The current `master` -- since 20 days ago -- does not load the `substring-search` before, but it is loaded after, during the package load:
[code]

[2017-01-11 21:36] molovo commented on #29
Yeah, that's right. The package were originally loaded first, but that was moved to later in a previous commit. I pushed PR #30 this afternoon, which performs the history setup after the packages are loaded, and binds the widgets to ZLE.

What is the value of `HISTORY_SUBSTRING_SEARCH_HIGHLIGHT_FOUND` on your system?

[2017-01-11 21:38] rolling-space commented on #29
Currently this:
`HISTORY_SUBSTRING_SEARCH_HIGHLIGHT_FOUND='bg=blue,fg=white,bold'`

[2017-01-11 21:41] rolling-space commented on #29
My `init` is currently identical to the one I PR'd earlier. All colors are visible with this `init`, even the original ones.

[2017-01-11 21:50] molovo commented on #29
Your fix would source the script a second time though, as it would already be sourced when `_zulu_load_packages` is run. That shouldn't be necessary, and in fact, looking at it again, checking for the existence of the file isn't really necessary since we're checking for the existence of the widget directly below it which should be enough.

I'm wondering if there's another package interfering with

[2017-01-11 21:53] molovo commented on #29
Also, where are you setting the value of `$HISTORY_SUBSTRING_SEARCH_HIGHLIGHT_FOUND`?

[2017-01-11 21:53] rolling-space commented on #29
Yes, both are quite true indeed! This can be a trigger to contemplate on a load deferring system, which could be implemented using 'before' and 'after' keys in the `json` index files.

[code]

[2017-01-11 21:54] rolling-space commented on #29
I set the  color at `_zulu_init_setup_history`

[2017-01-11 22:02] rolling-space commented on #29
Ok, I applied the changes of the `fix_histrory_setup` branch and works! Both history and color!

[2017-01-11 22:02] molovo commented on #29
Ah! Brilliant. That's good. I'll get it merged

[2017-01-11 22:15] #29 closed, assigned to molovo

[2017-01-11 22:20] molovo commented on #29
@rolling-space Thanks very much for your help debugging, it's appreciated. Is #31 still needed now, or can I close it?

[2017-01-11 22:24] rolling-space commented on #29
@molovo, it was a pleasure! [#31](https://github.com/zulu-zsh/zulu/pull/31) may be epically closed indeed!

Thanks for taking the time.

[2017-01-18 17:51] rolling-space opened #32 "Index packages"
Hi @molovo,

I have created some plugins (`zulu-` prefixed) and published them under my `github` account. If you wanna have a look and decide that they can make it to the official `zulu` distro, let me know and I will prepare them accordingly (documentation, comments etc). I keep their respective index files locally though, happy to provide them in any case.

Cheers!

[2017-01-18 18:23] molovo commented on #32
@rolling-space that's some great work, thanks for that. I'm happy to include all of those - if you could create a pull request on the [index](https://github.com/zulu-zsh/index) repo containing all of those I'll happily accept it. If you could keep it to one package per commit all bundled into the same PR that would be great, just in case we need to revert one of them. Also, could you please leave

[2017-01-18 18:47] rolling-space commented on #32
My pleasure to contribute @molovo, really!

I used my git plugin (which is taken as-is from `zim`) directly, but find the differences in the attached -- it is html, renamed it as `txt` to fit github's requirements). You may want to have a closer look at the `log` section by the way.
[mygit-vs-zulugit.html.txt](https://github.com/zulu-zsh/zulu/files/714733/mygit-vs-zulugit.html.txt)

[2017-01-18 19:12] rolling-space commented on #32
@molovo, you can expect the first batch during the weekend...

[2017-01-18 19:33] molovo commented on #32
Yeah those git plugin changes look great, if you want to submit those as well, I'll happily include them. Thanks!

[2017-01-21 02:08] molovo opened #34 "Implement logging using lumberjack"
This got left out of v1.0, investigating putting it back in now. Hopefully will help with debugging issues. Will log critical errors and above by default, and everything else with a `--verbose` flag on init.

[2017-01-21 02:13] molovo opened #35 "Enable beta versions"
Investigate adding a `--beta` flag on init, which will check the current branch and checkout the latest pre-release tag if not already checked out.

[2017-01-21 22:36] molovo commented on #32
@rolling-space Thanks very much for those PRs, a great contribution. Closing this now, as they've all been merged.

[2017-01-21 22:36] #32 closed, assigned to nobody

[2017-01-31 21:08] #34 closed, assigned to molovo

[2017-02-21 13:08] molovo opened #52 "v1.2.0: `zulu init --check-for-update` gets stuck in an infinite loop in ZSH `<=5.0.8`"
Works fine in `>=5.1`. Handling of background processes in `<5.1` is pretty poor, so the fact that we're nesting them (`zulu init --check-for-update` calls `zulu upgrade --check` asynchronously since #51) is probably causing the issue.

Only affects v1.2.0 (#49)

[2017-02-21 19:57] #52 closed, assigned to nobody

[2017-02-23 23:54] molovo opened #54 "Look into compiling source to speed up load time"
I've got two branches open currently to look into this:

* `experimenting_with_compiling` moves the core into a `src` folder, and adds a build script which concatenates the entire source into a single file, and then runs zcompile on it. It also compiles all executable scripts and autoloadable functions in packages when they are linked.
* `experimenting_with_lazy_loading` simply defers the loading

[2017-02-24 12:37] molovo opened #55 "Add post-install scripts for packages"
Add the ability to specify a 'post_install' key in a package's index JSON file, which will be executed after `zulu link` is run on the package.

This is required for molovo/zunit#47

[2017-02-25 16:31] molovo commented on #54
Managed to get compilation working properly, so this will be included in #49.

[2017-02-26 11:35] dreamfliper opened #59 "can't keep theme setting after zulu upgrade"
before running `zulu upgrade`, I was using agnoster as my theme. however, zulu change the theme to default theme after `zulu upgrade`.
this also reminds me there's no auto-completion when I pressing `tab` after `zulu theme`

[2017-02-26 11:38] molovo commented on #59
Thanks for the bug report. I think I know what's causing the theme to change, I'll get a fix out ASAP.

The autocompletion for themes has never been implemented, but I'll try and get that included in v1.2.0

[2017-02-26 11:50] #59 closed, assigned to nobody

[2017-02-26 11:51] molovo commented on #59
The fix is in master now, so if you run a `self-update` you shouldn't have the same issue again.

[2017-03-01 23:27] molovo opened #61 "Project Logo"
I'd like to take another look at designing a logo for Zulu. The current icon is just something I found quickly on The Noun Project. Would be nice to have something unique, and then I'll look at some changes to the website to incorporate it.

[2017-03-04 06:26] molovo opened #63 "Add --dev flag to zulu init to skip compilation"
Now that zulu is compiled it makes it frustrating to develop on zulu itself. Adding a `--dev` flag to init which re-sources commands when called would make this easier.

[2017-03-12 12:00] molovo opened #65 "Add ‘sync’ command"
Zulu was built to support syncing environment configuration between different machines, but this has always been an external process. Would be nice to add a `sync` command, which pushes the contents of `~/.config/zulu` to a git repository, and pulls changes.

Adding a `--sync` option to `zulu init` to automatically pull changes to the repository on startup would be a nice touch too.

[2017-03-12 12:13] #55 closed, assigned to molovo

[2017-03-12 12:13] #63 closed, assigned to molovo

[2017-03-12 12:14] #54 closed, assigned to nobody

[2017-03-18 15:43] molovo opened #66 "Add config file and command to manage it"
Config can be loaded from `~/.config/zulu/config.yml`, and a new `zulu config` can be used for setting and displaying values.

[2017-03-18 15:45] molovo opened #67 "Add anonymous usage analytics"
This can be disabled in config file (requires #66), to protect user privacy.

Need to find a (free) provider with a flexible enough API to record events using `curl` command from the CLI

[2017-03-28 11:07] molovo opened #72 "Allow for installing/linking packages on a specific branch"
Add a `--branch` option to specify the branch that should be checked out after a package has been installed.

e.g.

[code]

[2017-03-28 11:08] molovo commented on #35
New versions will always live in a branch called `next` from now, so it would make sense for the trigger to be `zulu init --next`.

[2017-04-05 07:38] molovo opened #76 "Speed up list command"
The `zulu list` command has become quite slow, which makes completion output very slow when the completion cache is empty. Should look into improving its performance.

[2017-04-07 12:59] #35 closed, assigned to molovo

[2017-04-07 12:59] #66 closed, assigned to molovo

[2017-04-07 12:59] #67 closed, assigned to molovo

[2017-04-07 15:22] molovo commented on #72
Fixed in 1.3.0

[2017-04-07 15:22] #72 closed, assigned to molovo

[2017-04-07 15:22] molovo commented on #65
Fixed in 1.3.0

[2017-04-07 15:22] #65 closed, assigned to molovo

[2017-04-20 08:31] molovo opened #77 "Upgrade command fails in CI environment"
The command appears to work as it should locally, so need to work out why the tests for it are failing.

[2017-04-25 10:34] molovo opened #78 "Store branch/tag in packagefile if one is set when installing"
If a package is set to a specific branch/tag using `zulu install --branch <branch> <package>`, the requested branch or tag is not saved to the packagefile alongside the package name. This means that when syncing, a package can be installed with a specific branch on one machine, but when `zulu bundle` is run on another synced machine, it will use the `master` branch, rather than the correct one.

[2017-04-26 11:21] molovo opened #80 "Display a warning when installing a package which collides with one already installed"
For example, the `fzf` and `history-search-multi-word` packages both define the same `CTRL-R` keybinding. When installing either package it should warn the user of this. These can be defined in the index files.

[2017-04-29 16:07] rrevanth opened #83 "install packages from git that are not in index"
Is there an option to install package from git directly rather than adding it to index before?

[2017-04-29 16:30] molovo commented on #83
There isn't at the moment, and it's not something I had planned, but I'd be willing to consider PRs that bear the following in mind:

I chose to make zulu work with an index simply to make it easier for end users - packages should always install first time without any additional configuration.

Installing directly from github would be useful for users with more knowledge of zsh, but that's not rea

[2017-04-29 16:50] rrevanth commented on #83
Ok. Thank you! I just wanted to know if i'm missing something 😄

I wanted to install my own customized versions of plugins to an index so I can install them directly, they are not to be added to generalized index. Hence, I asked if packages can be installed directly 👍

[2017-04-29 16:55] molovo commented on #83
Ah, I see. Well you have two options which *should* work:

1. Make the modifications to packages or add new ones locally. Zulu should respect local changes - that's not been tested extensively though, so be warned.
2. Fork the index repository and edit the origin in `~/.zulu/index` and maintain your own index, but obviously you'll miss out on updates to the main index.

Let me know if you have any

[2017-04-30 00:42] rrevanth opened #85 "unlink not happening while uninstalling"
whenever I uninstall a package, the corresponding init file is not unlinking itself.

I had to manually run the unlink command initially and then uninstall the package or delete the file manually.

I see the code for unlinking is there, not sure why not happening though

[2017-04-30 05:53] molovo commented on #85
Is this happening for all packages, or just one in particular?

[2017-04-30 05:53] molovo commented on #85
Is this happening for all packages, or just one in particular?

[2017-04-30 06:02] molovo commented on #85
Also, what OS and ZSH version are you running?

[2017-04-30 16:30] rrevanth commented on #85
Mac OS 10.12.4 and ZSH : 5.3.1

It's happening to all the packages on my system

[2017-04-30 19:00] molovo commented on #85
OK, thanks very much for reporting. I'm unlikely to get to it within the next week as I'm on vacation, but I'll try and get a fix sorted next weekend

[2017-05-08 12:45] molovo commented on #85
Still looking into this. I ran some tests last night on OSX and Ubuntu and wasn't able to recreate the issue.

@rrevanth Could you please post the contents of `~/.config/zulu/packages`, and let me know if you have any aliases defined for `ls`, `grep`, `awk` or `xargs` and what they are?

[2017-05-14 10:04] Tuurlijk opened #86 "Initialization and loading documentation"
I would like to know how the loading and initialization of packages and functions work. Is there any documentation on that?

[2017-05-14 20:11] molovo commented on #86
@Tuurlijk there's no documentation at the moment, but I'll give you a quick rundown. Be warned, it does a lot.

First of all, each package in the index can define three types of files.

* `init` files are symlinked to `~/.zulu/init`, and are sourced on terminal startup
* `share` files are symlinked to `~/.zulu/share`, which is in `$fpath`. Used for auto-loadable functions and completion files
* `b

[2017-05-15 11:27] molovo opened #87 "v1.4.0: Fix memory leak in self-update command"
The `zulu self-update` command fails in Zulu 1.4.0 (pre-release: #82) on some Ubuntu versions due to out of memory errors, probably caused by the asynchronous processes.

[2017-06-13 11:11] #86 closed, assigned to nobody

[2017-06-13 11:12] #83 closed, assigned to nobody

[2017-06-13 11:12] molovo commented on #85
@rrevanth are you still having issues with this? If so, could you please answer the above question?

[2017-06-14 07:50] molovo opened #88 "Dependency installation fails occasionally"
There seems to be an issue with the new `zui` and `zbrowse` packages. Installing `zui` on its own works, but when it is installed as a dependency of `zbrowse` it tries to clone the repository `molovo/zui` rather than the correct `zdharma/zui`.

Affects both `master` and `next` branches.

[2017-07-04 22:30] molovo opened #89 "Add support for adding/removing global aliases"

[2017-07-05 11:12] molovo opened #90 "zulu bundle --dump fails"
Running `zulu bundle --dump` or `zulu bundle --dump --force` fails with the following error message:

[code]

[2017-07-05 11:16] molovo opened #91 "List new/updated packages when running zulu update"
At the moment `zulu update` downloads changes to the index silently. It would be nice to show which packages are new or have been updated to improve discovery of new packages.

[2017-07-10 19:29] molovo commented on #90
Seems to only fail on versions of ZSH between `5.0.2` and `5.0.8`. Fine as of `5.1`.

[2017-07-10 22:15] molovo commented on #87
Memory leak was caused due to a race condition in `zulu bundle --dump`, when it is run after the installation of a package. This is resolved in #82

[2017-07-10 22:38] molovo commented on #85
Since there's been no answer, and I've been unable to recreate the issue, I'm going to close it for now so it doesn't hold up v1.4.0

[2017-07-10 22:38] #85 closed, assigned to molovo

[2017-07-13 11:13] #76 closed, assigned to nobody

[2017-07-13 11:13] #78 closed, assigned to nobody

[2017-07-13 11:13] #80 closed, assigned to nobody

[2017-07-26 11:59] boticello opened #94 "fatal: I don't handle protocol 'repository: https'"
I cannot install or upgrade packages after updating zulu to 1.4.0.
[code]
I see reference to [a git problem with invisible unicode characters](https://stackoverflow.com/questions/30474447/git-fatal-i-dont-handle-protocol-http) but I don't know if it's related.

[2017-07-26 18:21] #77 closed, assigned to nobody

[2017-07-26 18:21] #87 closed, assigned to molovo

[2017-07-26 18:21] #90 closed, assigned to molovo

[2017-07-26 18:25] molovo commented on #94
I don't think that is the issue, since the index is a valid JSON document and an invisible unicode character would fail validation. I think it's more likely that something in your environment has polluted `$IFS`, which prevents the JSON parsing function from reading `repository: "https://..."` as a key and value, and instead returns it as a single line.

Could you please run the failing command ag

[2017-07-26 18:41] molovo commented on #94
I've just created a new branch with a possible fix (if `$IFS` is causing the issue). Could you please check it out by following these steps:

[code]

After doing that, try installing the package again.

[2017-07-26 19:10] boticello commented on #94
Thanks for the quick response and the clear instructions.

I ran an attempted package install and followed it with your command. The output was:
[code]
I then followed the steps you list. They all seemed to complete successfully.

I ran the `zulu install` command again, and unfortunately had exactly the same response:

[code]

[2017-07-26 19:21] molovo commented on #94
Hmm. It's not `$IFS` then, since that output is the ZSH default. I'm a little stumped. I have a few questions to help me try and narrow it down:

* What OS and version are you using?
* What ZSH version are you using?
* Do you have any aliases defined for `git`, `sed` or `grep`?
* What is the output of `TEST=$(cat ~/.zulu/index/packages/filthy); jsonval $TEST repository`? (Note: the `jsonval` funct

[2017-07-26 19:46] boticello commented on #94
I'm using
- Mac OS 10.12.5
- Zsh 5.2

Aliases in .zshrc:
- `alias grep="grep -n --color"`

The output of the command was:
`_tipz_find_match:23: failed to compile regex: parentheses not balanced`
(repeated many times)
`repository: https://github.com/molovo/filthy`

[2017-07-26 20:00] molovo commented on #94
Ah! The issue is the grep alias you have defined, particularly the `-n` option. Since that adds a line number to the start of each line, it's reading that as the key when parsing the JSON, and the rest as the value. (Unfortunately the JSON parser is very naïve, since it's bloody difficult to do in ZSH).

I've pushed another fix to the `fix_git_protocol_error` branch which ensures it uses the bare

[2017-07-26 20:11] boticello commented on #94
I pulled the latest code from the `fix_git_protocol_error` branch and ran the commands again, including `zulu init --dev`.

Running `zulu install filthy` now outputs a lot of code but no install information, and the package is not installed.

Since you've identified the problem, I am happy to change the alias for `grep`. That was probably a naïve thing to do in any case. I'm also happy to keep run

[2017-07-26 20:18] molovo commented on #94
Hmm, that seems like it might be a different issue. The install works for me, even with the `grep -n` alias defined, and all the tests still pass. Would you mind posting the output?

Removing that alias will definitely resolve your issue short term, but I do plan on fixing this issue properly since aliases such as that are very common. There are calls to system commands throughout Zulu's source, a

[2017-07-26 20:55] boticello commented on #94
OK. I did the following:
[code]
All seemed fine. Then I tried `zulu install spaceship` and it seemed to work:
[code]
I mean, there are errors. But they seem unrelated. The package installation worked. The output wasn't a dump of the Zsh code as it was before.

I tried `zulu install pure`:
[code]
Again, errors, but seemingly unrelated to the original bug.

Finally, `zulu install rbenv`:
[code]
So i

[2017-07-26 21:11] molovo commented on #94
Wow, thanks for all this debugging. I think you've managed to hit a couple of different bugs.

It looks like with `spaceship` you simply have a missing dependency, the `git` package. I wasn't aware it was required for that theme, but I'll update the index to add the missing dependency.

The issue with `pure` seems to be a reoccurrence of #88, which I thought I'd fixed. I'll reopen that issue and d

[2017-07-26 21:14] molovo commented on #88
Seems this issue has been found in the wild again (See [#94](https://github.com/zulu-zsh/zulu/issues/94#issuecomment-318179703)). Reopening this issue.

[2017-07-26 21:32] molovo opened #96 "Add --bare option to zulu init to launch without loading packages"

[2017-07-26 21:37] boticello commented on #94
Thanks for the praise, but I have a confession. I forgot to uncomment the `grep` alias from my .zshrc when I switched back to the bugfix branch. So my last report is faulty. It was based on running zulu without the cause of the original bug.

When I realised, I switched back to the bugfix branch, uncommented the `grep` alias and did `git pull` because my terminal told me you had made further chang

[2017-07-26 21:41] molovo commented on #94
Ah, that's my fault. I rebased and force pushed to the branch to prepare it for merging, but that does mean it won't pull nicely due to the history rewrite. To get back to where you were, just checkout the `fix_git_protocol_error` branch and run `git reset --hard origin/fix_git_protocol_error`. Bear in mind, this will reset the entire repository to match the remote, so don't run it if you have any

[2017-07-27 16:51] boticello commented on #94
Everything seemed borked, including the master branch, so I just deleted `.zulu` and installed it again from the website. I lost the	packages I'd installed, but that wasn't a big deal. I installed 'async' first and avoided errors on some of the other packages.

Then I went through the process to reproduce the bug on your up-to-date `fix_git_protocol_error` branch. I'm sorry to confirm that the bug

[2017-07-27 17:03] molovo commented on #94
Hmm, interesting. One last thing to try then, can you try launching ZSH without sourcing your `.zshrc` please?

[code]

If the error doesn't occur then, can you post the contents of your `.zshrc` (make sure you redact anything sensitive) so I can try and see what in there is causing the issue? Thanks

[2017-07-28 06:56] boticello commented on #94
I did this, and was able to install packages without a problem. Strange.

The only issue worth noting is that the uninstall has some odd warnings. This has been the case throughout my uninstalling of packages since (I guess) the problem first started.

[code]

Here is my `.zshrc`:

[code]

[2017-07-28 07:03] boticello commented on #94
Launching Zsh normally now gives me a new error. I don't know whether I should file this as a separate bug.

[code]
I had `enhancd` installed.
I uninstalled it.
I got the following output:
[code]
The awk error line was repeated many times.

Now I get the enhancd error every time I launch the shell, even though it appears to be uninstalled.

When I try to install something with zulu, as well as the

[2017-07-28 11:29] molovo commented on #94
Ok, so the fact that Zulu worked means that the issue is something in your `.zshrc`. I'm not sure what, but I'll use your `.zshrc` on a test VM and see if I can recreate the issue to try and resolve it for you. The new branch *should* have resolved any of those type of errors, so it could be that I just missed a call somewhere.

I think the errors on uninstall are due to your `rm` alias, but again

[2017-07-28 11:44] boticello commented on #94
Thanks. I really appreciate your hard work on this. As you can imagine, the appeal of a framework like Zulu is that someone like me with only modest terminal skills and intermittent need to use the command line can still have a pleasant experience.

That puts a lot of work on you to make it a smooth experience. Thanks for taking that on board. I think Zulu is a really cool concept and design, and

[2017-07-28 11:46] molovo commented on #94
Yeah, that was exactly who Zulu is aimed at, so these kind of issues need to be fixed. I'm glad you're so willing to help out 👍

[2017-07-28 11:58] molovo commented on #94
Ok, I've released `v1.4.1-beta`. If you change your `.zshrc` to call `zulu init --next` now and then restart your shell session, hopefully you should be ok. If not, let me know.

[2017-07-28 12:19] boticello commented on #94
I change my `.zshrc` settings as you specified. I didn't do `git pull` or anything else.

Then I started a new shell. (I've pasted the complete output).

[code]
Firstly, I tried to uninstall a package:
[code]
Then I tried to uninstall enhancd:
[code]
Then I tried to reinstall a package:
[code]
Drat!

[2017-07-30 07:06] boticello commented on #94
I logged into my shell this morning and it did not report issues related to `__enhancd`.
[code]
There was that error message related to the `warhol` plugin.

So I tried:
[code]
That was good news! No errors related to `fatal: I don't handle protocol 'repository: https'`.

Then I tried:
[code]
So, still some kind of error related to my aliasing of `rm`, but nothing fatal.

Looks good!

[2017-07-30 07:12] molovo commented on #94
That is good news! Looks like we're nearly there. I'm not sure what's causing those rm errors. I modded the `unlink` command last night to make sure everything is prefixed properly. The rm failing is what caused the `ln: file exists` because the last time you uninstalled the package unlink didn't remove the symlinks that are called to load the package. I'm glad you're able to use it again, but I s

[2017-07-31 19:44] molovo commented on #94
Right, so finally had a chance to play with your `.zshrc` on a VM. The protocol error appeared straight away with a fresh install of Zulu, and switching to `next` got rid of it, so I'm happy that the original issue is resolved. I couldn't recreate those errors with `rm` that you got on uninstall though. You said that you've been getting those ever since you first installed Zulu, is that correct?

[2017-07-31 21:29] molovo commented on #94
@boticello would you mind posting the output of `zulu list --installed --branch --tag` please?

[2017-08-03 06:57] boticello commented on #94
I was adding to my `.zshrc` during and after installing Zulu. I think the `rm` errors only started at a certain point, which I associated with 1.4.0 but actually could be when I added those aliases to my `.zshrc`.

I've been adding and removing packages as part of the experimentation and debugging. Here's the current output of the command:

[code]

[2017-08-15 12:16] molovo commented on #94
@boticello sorry I haven't been back to look at this for a while. I still think those `rm` errors are related to the aliases, although I'm not sure why. I'm going to release `v1.4.1` tonight, so at least you can upgrade and get back to using Zulu normally.

It might be related to `xargs`, since the `rm` which is failing is called by that. Do you have anything installed which might modify `xargs`?

[2017-08-15 17:33] boticello commented on #94
I don't have anything which modifies `xargs`, to my knowledge.

I've changed my `.zshrc` from `zulu init --next` to `zulu init` and I'll update it tomorrow.

[2017-08-21 11:41] molovo commented on #94
@boticello Sorry, ran into another bug which delayed release. `v1.4.1` has been released now. Let me know if you get any further issues.

[2017-08-23 10:41] molovo opened #101 "Show current theme if zulu theme is called without arguments"

[2017-09-05 21:47] #61 closed, assigned to nobody

[2017-09-05 22:21] #94 closed, assigned to molovo

[2017-09-18 22:17] AdrieanKhisbe opened #104 "Parse Error at install"
While trying to install I get the following error:
[code]
[code]

[2017-09-18 22:23] AdrieanKhisbe commented on #104
Digging I think I found the cause. I made a Pr for that :)

[2017-09-18 23:08] molovo commented on #104
A few quick questions to help me with debugging, and to track down if the issue is in Zulu or the install script:

1. Did you specify a custom `$ZULU_DIR` or `$ZULU_CONFIG_DIR`?
2. If yes, does the error still occur if you use the defaults?
3. After receiving the error, does Zulu work if you do the following steps:

[code]

[2017-09-18 23:11] AdrieanKhisbe commented on #104
1. No
2. No to 1.
3. Going to try

[2017-09-18 23:12] AdrieanKhisbe commented on #104
3. Doesnt work :/

[2017-09-18 23:18] molovo commented on #104
Ok, that rules out any errors in the install script, I think.

[2017-09-18 23:20] AdrieanKhisbe commented on #104
Yep sure.

[2017-09-22 21:35] AdrieanKhisbe commented on #104
hello @molovo :)
did you have time to dig on the issue?

[2017-11-17 12:46] #88 closed, assigned to molovo

[2017-11-17 12:46] #101 closed, assigned to molovo

[2017-11-17 12:46] #104 closed, assigned to nobody

[2018-01-09 13:14] #89 closed, assigned to molovo

[2018-01-09 13:14] #91 closed, assigned to molovo

[2018-01-09 13:14] #96 closed, assigned to molovo

[2018-02-20 14:43] sbibauw opened #108 "Error: Failed to reset Zulu repository"
When installing Zulu for the first time, I got this error in the installation process:

    [...]
    ✔ Build script complete
    HEAD is now at b91f492ddb96 Ensure default branch is used unless specified
    Failed to reset Zulu repository

And every time I open a Terminal window/tab, I get the same error.
This said, when browsing and checking the git status of `/core/` and `/index/` in the ZULU_

[2018-03-30 19:29] kapsh opened #109 "Docs are unavailable"
Site from readme is down.

[code]

[2018-04-11 11:50] molovo commented on #109
Whoops. I fixed this when the domain expired, but not in the master branch. Thanks for letting me know.

Fixed in 0e4386b

[2018-04-11 11:50] #109 closed, assigned to nobody

[2018-04-30 11:33] sbibauw commented on #108
Not solved though...

[2018-05-03 12:30] molovo commented on #108
@sbibauw Sorry, stalebot killed this. Reopening it so I don't forget about it

[2018-06-19 05:52] henrikbjorn opened #110 "substring-search-history broken"
After doing my 6 months self-update the substring search plugin stopped working.

[2018-08-18 10:59] henrikbjorn commented on #110
Still broken.

[2019-05-19 22:22] andrea-zanetti opened #111 "Running zulu init script breaks autocompletion with zsh 5.7.1 and oh-my-zsh"
Running the initialization script will prompt the following error message:

`zulu init
✔ Switched to Zulu master
_zulu_init_setup_completion:9: compinit: function definition file not found
_zulu_init:61: promptinit: function definition file not found
zsh: prompt: command not found...`

then autocompletion fails with
`expand-or-complete-with-indicator:3: _main_complete: function definition file not

[2019-06-02 20:13] nscotto commented on #111
Same error for me using zulu without oh-my-zsh.

[2019-08-25 11:13] #110 closed, assigned to nobody

[2019-09-24 09:38] #108 closed, assigned to nobody

[2019-11-06 15:04] svallory opened #112 "Loading Zulu breaks spaceship prompt"
If I load zulu, when I press tab and there are multiple options, part of the spaceship prompt gets erased.

Tested using the latest versions of everything: zsh, prezto, zgen, zulu and spaceship prompt

[2020-02-03 17:41] wickkidd commented on #111
Same here (without oh-my-zsh) after upgrading my macbook to 10.15 (Catalina).

-edit-

For me the problem was that zulu had set my fpath when my mac had zsh 5.3 installed. One of the references was to a folder name based on that version. Catalina installed zsh version 5.7.1. I updated the folder name and everything worked again.

file: `~/.config/zulu/fpath`

old value:
[code]

new value:
[code]